In [1]:
%%capture

% pip install pandas

In [1]:
api_data_path = "./api-data/"

In [2]:
import os
import glob
import json

patient_files = glob.glob(os.path.join(api_data_path, "*.json"))
patient_data = [
    json.loads(open(file, "r").read()) for file in patient_files
]

In [9]:
import pandas

data = []

for patient in patient_data:    
    patient_id = patient["id"]

    birth_date = patient["meta_data"][0]["fecha_nacimiento"]
    start_date = patient["meta_data"][0]["fecha_inicio"]

    start_night = patient["meta_data"][0]["inicio_noche"]
    end_night = patient["meta_data"][0]["fin_noche"]

    gender = patient["meta_data"][0]["genero"]
    height = patient["meta_data"][0]["talla"]
    weight = patient["meta_data"][0]["peso"]

    data.append([patient_id, birth_date, start_date, start_night, end_night, gender, height, weight])
    

meta_data_df = pandas.DataFrame(
    data, 
    columns=[
        "patient_id", 
        "birth_date", 
        "start_date", 
        "start_night", 
        "end_night", 
        "gender", 
        "height", 
        "weight"
    ]
)

meta_data_df.set_index("patient_id", inplace=True)
meta_data_df

,birth_date,start_date,start_night,end_night,gender,height,weight
patient_id,,,,,,,
437,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0
13549,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0
16311,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0
15422,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0
7356,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0
...,...,...,...,...,...,...,...
13887,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0
14854,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0
3722,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0
11237,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0
10361,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0

In [17]:
data = []

for patient in patient_data:   
    patient_id = patient["id"]
    
    for measure in patient["data"]:
        measure_date_time = measure["fecha_dt"]
        sistolic = measure["sistolica"]
        diastolic = measure["diastolica"]
        heart_reate = measure["valor"]
        
        data.append([patient_id, measure_date_time, sistolic, diastolic, heart_reate])
        
        
measure_df = pandas.DataFrame(
    data, 
    columns=[
        "patient_id",
        "measure_date_time", 
        "sistolic", 
        "diastolic", 
        "heart_reate",
    ]
)

measure_df.set_index("patient_id", inplace=True)
measure_df

              measure_date_time  sistolic  diastolic  heart_reate
patient_id
437         2017-11-25 08:27:00       158         96           67
437         2017-11-25 08:31:00       151         96           65
437         2017-11-25 08:45:00       158         89           68
437         2017-11-25 09:00:00       151         99           70
437         2017-11-25 09:30:00       146         94           75
...                         ...       ...        ...          ...
10361       2019-03-22 05:30:00       100         56           61
10361       2019-03-22 06:00:00       100         56           62
10361       2019-03-22 06:30:00       112         74           59
10361       2019-03-22 07:00:00       125         67           61
10361       2019-03-22 07:33:00       100         84           66

[1268065 rows x 4 columns]

In [19]:
patient_df = pandas.merge(
    meta_data_df, 
    measure_df, 
    how="inner", 
    left_index=True, 
    right_index=True
)

patient_df

,birth_date,start_date,start_night,end_night,gender,height,weight,measure_date_time,sistolic,diastolic,heart_reate
patient_id,,,,,,,,,,,
30,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2017-10-26 11:08:00,146,95,80
30,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2017-10-26 11:15:00,127,85,73
30,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2017-10-26 11:30:00,136,94,83
30,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2017-10-26 11:33:00,131,99,90
30,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2017-10-26 11:45:00,142,97,89
...,...,...,...,...,...,...,...,...,...,...,...
18385,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2020-01-26 03:30:00,130,79,61
18385,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2020-01-26 04:00:00,139,85,56
18385,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2020-01-26 04:30:00,124,88,59
18385,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2020-01-26 05:00:00,166,90,58
18385,1971-11-22 00:00:00,2018-08-23 08:16:00,2018-08-23 22:00:00,2018-08-24 04:30:00,m,1.8,100.0,2020-01-26 05:30:00,152,89,61